
<h4>MovieLens 20M Dataset</h4>
<!-- see https://developers.google.com/search/docs/data-types/dataset -->
<article typeof="dcat:Dataset">
  <p>
    <span property="dc:title">MovieLens 20M</span> 
    <span rel="dc:subject">movie ratings</span>.
    <span property="dc:description">Stable benchmark dataset. 20 million ratings and 465,000 tag applications applied to 27,000 movies by 138,000 users. Includes tag genome data with 12 million relevance scores across 1,100 tags. Released 4/2015; updated 10/2016 to update links.csv and add tag genome data.</span>
  </p>
  
  <ul>
    <li>
      <a href="http://files.grouplens.org/datasets/movielens/ml-20m-README.html">README.txt</a>
    </li>
    <li>
      <a rel="dcat:distribution" href="http://files.grouplens.org/datasets/movielens/ml-20m.zip"><span property="dcat:mediaType" content="application/zip">ml-20m.zip</span></a> (size: 190 MB, <a href="http://files.grouplens.org/datasets/movielens/ml-20m.zip.md5">checksum</a>)
    </li>
  </ul>
  <p>
  Also see the <a href="https://grouplens.org/datasets/movielens/20m-youtube/">MovieLens 20M YouTube Trailers Dataset</a> for links between MovieLens movies and movie trailers hosted on YouTube.
  </p>
  <p>
    Permalink:
    <a href="https://grouplens.org/datasets/movielens/20m/">https://grouplens.org/datasets/movielens/20m/</a>
  </p>
</article>

#

## OPENDATA.UTAH.GOV
SALT LAKE CITY - WATER CONSUMPTION BY TRACTEnergy & Environment

Water consumption by tract measured in gallons per month. Consumption is in 100 cu. ft units (e. g. if consumption is 34 that means 3400 cu. ft.) 100 cu. ft. = 748.052 gallons.

In [6]:
#!/usr/bin/env python

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("opendata.utah.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(opendata.utah.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("j4aa-ce7s", limit=100000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)


#https://opendata.utah.gov/resource/j4aa-ce7s.json
#df = pd.read_json("https://opendata.utah.gov/resource/j4aa-ce7s.json")
#results_df = pd.DataFrame.from_records(df)
results_df.tail(5)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

     connections consumption month   tract                type  year
3271           1          92     6  102600      Hotel or Motel  2019
3272          58         570     6  102900              Duplex  2019
3273          71        4451     6  101200           Apartment  2019
3274         640       12406     4  102900            Business  2019
3275          12          77     6  101900  Parks & Municipals  2019

In [7]:
results_df.groupby('type').describe()

                            connections                 consumption         \
                                  count unique top freq       count unique
type
Apartment                           288     50  11   17         288    281
Business                            336    105  18   12         336    322
Business - Apartments                12      2   1   11          12      7
Duplex                              312     83  69    8         312    281
Fourplex                            270     44   2   29         270    227
Hospital                             30      5   2   18          30     26
Hotel or Motel                      120     13   3   42         120    107
Industry                            102     16   1   24         102     98
Miscellaneous                       306     20   3   49         306    144
Parks & Municipals                  318     31   8   29         318    140
Restaurant                          282     19   1   72         282    214
School or Church or Charity         312     28   3   39         312    259
Single Residence                    336    220   5   12         336    325
Triplex                             252     28   3   36         252    163

                                       month                 tract         \
                              top freq count unique top freq count unique
type
Apartment                    1973    3   288      6   6   48   288     48
Business                        0    6   336      6   1   56   336     56
Business - Apartments           0    6    12      6   2    2    12      2
Duplex                         10    3   312      6   6   52   312     52
Fourplex                        7    4   270      6   6   45   270     45
Hospital                        0    5    30      6   2    5    30      5
Hotel or Motel                  0    6   120      6   6   20   120     20
Industry                        7    3   102      6   6   17   102     17
Miscellaneous                   0   98   306      6   6   51   306     51
Parks & Municipals              0  105   318      6   6   53   318     53
Restaurant                     39    5   282      6   6   47   282     47
School or Church or Charity    54    5   312      6   6   52   312     52
Single Residence               11    4   336      6   1   56   336     56
Triplex                        34    6   252      6   6   42   252     42

                                          year
                                top freq count unique   top freq
type
Apartment                    100100    6   288      1  2019  288
Business                     102100    6   336      1  2019  336
Business - Apartments        103100    6    12      1  2019   12
Duplex                       100100    6   312      1  2019  312
Fourplex                     100100    6   270      1  2019  270
Hospital                     101400    6    30      1  2019   30
Hotel or Motel               100800    6   120      1  2019  120
Industry                     100100    6   102      1  2019  102
Miscellaneous                114100    6   306      1  2019  306
Parks & Municipals           102100    6   318      1  2019  318
Restaurant                   114100    6   282      1  2019  282
School or Church or Charity  114100    6   312      1  2019  312
Single Residence             102100    6   336      1  2019  336
Triplex                      114100    6   252      1  2019  252